#Games{
    width: 90vw;
    margin-left: 10vw;
    margin-top: 10vw;
}

#ytCardLogo{
    width: 50%;
    height: auto;
}

#GamesCardGroup{
    padding: 5vw;
}

::-webkit-input-placeholder, input {
    text-align: center;
}