/* Just reverse display order of the second div on small screens */
@media screen and (max-width : 576px) {
    
    #to-reverse-mobile {
        display: flex;
        flex-flow: column-reverse wrap;
    }

    .text-section {
        text-align: center;
    }
}