#gameDiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid red;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    width: 50%;
}

.memory-card{
    background-color: blue;
    color: blue;
    border: 5px solid red;
}

#memory-img{
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.memory-card img{
    visibility: collapse;
}

.card-selected{
    border: 5px solid yellow;
    background-color: yellowgreen;
}

.card-guessed{
    border: 5px solid lightgreen;
    background-color: yellowgreen;
}